{% extends "themes/base_visitor.html.twig" %}

{% block title %}Page de blog
{% endblock %}

{% block description %}Lisez des articles pertinents et interessants sur la santé et la médécine.
{% endblock %}

{% block keywords %}Blog, Ruben Spencer Desir, Sabté Medecine, Articles
{% endblock %}

{% block main %}
<main>
	<h1 class="text-center my-3 display-5">Page de blog</h1>
</main {% endblock %}
