{% extends "themes/base_visitor.html.twig" %}

{% block title %}Page de Contact
{% endblock %}

{% block description %}Contactez moi pour plus d'informations sur mes différents projets et mes différents articles.
{% endblock %}

{% block keywords %}Blog, Ruben Spencer Desir, Sabté Medecine, Articles, Contact
{% endblock %}

{% block main %}
<main>
	<h1 class="text-center my-3 display-5">Page de Contact</h1>
</main {% endblock %}
