{% extends "themes/base_visitor.html.twig" %}

{% block title %}En attente de la vérification du compte par email
{% endblock %}

{% block description %}En attente de la vérification du compte par email
{% endblock %}

{% block keywords %}Blog, Ruben Spencer Desir, Sabté Medecine, Articles, Contact, Inscription, Inscription, Contact, Contact, Contact, Contact, Contact, Contact, Contact, Contact, Contact, Contact, Contact, Contact, Contact,
{% endblock %}

{% block main %}
<main>
	<div class="container met-5 text-center">
		<div class="row">
			<div class="col-md-8 mx-auto">
				<h1 class=" my-3 display-5">En attente</h1>

				<p>Un email vous a été envoyé pour la verification du compte par email</p>

			</div>
		</div>

	</div>
</main {% endblock %}
